body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: auto;
}

.container {
  width: 50%;
  height: auto;
  margin: auto;
}

.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 325px;
  height: 325px;
  background-color: #777;
  padding: 30px;
  margin: auto;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.tile {
  color: #000;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.tile:hover {
  background-color: rgba(250, 250, 250, .5);
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.tile img {
  height: 100%;
  width: 100%;
}
